.theNewIdea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.score{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
}

.scores{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.newIdea{
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    height: 40px;
}

.newIdea:focus{
    outline-style: none;
}

.buttons{
    width: 100px;
}

.okButton{
    background: none;
    border: none;
    color: green;
}
.okButton:hover{
    color: blue;
}

.xButton{
    background: none;
    border: none;
    color: red;
}

.xButton:hover{
    color: blue;
}